{% extends 'base.html' %} {% block question0 %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %} {% for
category,message in messages %}
<p class="'{{category}}">{{message}}</p>
<h3>{{question.question}}</h3>

<form action="/answer" method="POST">
  <label
    >Yes:
    <input type="checkbox" name="shopped-before" />
  </label>
  <label
    >No:
    <input type="checkbox" name="shopped-before" />
  </label>
  <button>submit</button>
</form>
{% endblock question0 %}
