{% extends 'base.html' %} {% block question0 %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %} {% for
category,message in messages %}
<p class="'{{category}}">{{message}}</p>
{% endfor %}{% endif %} {% endwith %}
<h3>{{question.question}}</h3>

<form action="/answer" method="POST">
  {% for choice in question.choices %}
  <p><input type="radio" name="answer" value="{{choice}}" />{{choice}}</p>
  {% endfor %}
  <button>submit</button>
</form>
{% endblock question0 %}
